*{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}
 
.menu{
font-size:15px;
color: white;
list-style:none;
width: 100%;
background: #B00000;
border:1px solid #c0c0c0;
float:left;
}

.menu li{
position:relative;
float:left;
border-right:1px solid #c0c0c0;
width: 10%;
height: 50px;
text-align: center;
padding-top: 20px;

}

.menu li a{color: white;
 text-decoration:none; padding:5px 10px; display:block;}
 
.menu li a:hover{
background:#333; 
color:#fff;  
text-shadow:0px 0px 5px #fff; 
}

.menu li  ul{
position:absolute;
top:25px;
left:0;
background-color:#B00000;
display:none;
} 

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
border:1px solid #c0c0c0;
display:block;
width:190px;
}

